<mat-toolbar id="toolbar" color="primary">
  
  <a [routerLink]="['']"><i class="inline-icon material-icons">language</i>SEMENTIC SEARCH</a>
  <!-- This fills the remaining space of the current row -->
<span class="example-fill-remaining-space"></span>
<button mat-button><a [routerLink]="['/sidebar']"><i class="inline-icon material-icons">dashboard</i>Dashboard</a>
</button>
<button mat-button>
  <a [routerLink]="['/search']"  routerLinkActive="active"><i class="inline-icon material-icons">search</i>Search</a>
</button>
<button mat-button>
 <a [routerLink]="['/favourites']"><i class="inline-icon material-icons">power_settings_new</i>Logout</a>
</button>

</mat-toolbar> 





  